#session {
    position: relative;
    overflow: visible;
}
#session img {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#magnifier {
    position: absolute;
    left: 30px;
    top: -20px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}
#magnified {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.mag-panel {
    position: absolute;
    width: 980px;
    height: 300px;
}
.mag-bar {
    width: 2px;
    background-color: rgba(0, 0, 255, 0.2);
    position: absolute;
    bottom: 0px;
}
